<div class="title-container">
  <img
    class="title-image"
    src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg"
    alt="Rick and Morty"
  />
  <h3>Characters</h3>
</div>

<button mat-raised-button color="primary" [routerLink]="['create']">
  Añadir Personaje
</button>

<div class="flex-container">
  @defer (when store.characters().length) {
    @for (character of store.characters(); track character.id) {
      @defer (on viewport) {
        <app-character-card [character]="character"></app-character-card>
      } @placeholder {
        <mat-spinner />
      }
    }
  } @placeholder {
    <mat-spinner />
  }
  <app-paginator (handlePageEvent)="handlePageEvent($event)"></app-paginator>
</div>
