<div class="title-container">
  <img
    class="title-image"
    src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg"
    alt="Rick and Morty"
    priority
  />
  <h3>Characters</h3>
</div>
<div class="filter-container">
  <app-data-search class="search" (search)="onSearch($event)"></app-data-search>
  <button mat-fab extended [routerLink]="['create']">
    <mat-icon>add</mat-icon>
    Add Character
  </button>
</div>

<div class="flex-container">
  @defer (when store.characters().length) {
    @for (character of store.characters(); track character.id) {
      @defer (on viewport) {
        <app-character-card [character]="character"></app-character-card>
      } @placeholder {
        <mat-spinner />
      }
    }
  } @placeholder {
    <mat-spinner />
  }
  <app-paginator
    class="paginator"
    (handlePageEvent)="handlePageEvent($event)"
  ></app-paginator>
</div>
