.flex-container {
  justify-content: center;
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  gap: 20px 30px;
  width: 100vw;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-image {
  max-width: 100%;
}
