@let characterLocal = character();

@if (characterLocal) {
  <mat-card class="character-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="text-center">{{
        characterLocal.name
      }}</mat-card-title>
      <mat-card-subtitle class="text-center">{{
        characterLocal.species
      }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      class="character-image"
      width="230"
      height="230"
      [ngSrc]="characterLocal.image"
      [alt]="characterLocal.name"
    />
    <mat-card-content class="content-card">
      <p><strong>Origin:</strong> {{ characterLocal.origin.name }}</p>
      <p><strong>Status:</strong> {{ characterLocal.status }}</p>
    </mat-card-content>
    <mat-card-actions class="actions-container">
      <button mat-button (click)="removeCharacter(characterLocal.id)">
        Remove<mat-icon fontIcon="delete" />
      </button>
      <button mat-button (click)="editCharacter(characterLocal.id)">
        Edit<mat-icon fontIcon="edit" />
      </button>
    </mat-card-actions>
  </mat-card>
}
