.character-card {
  width: 300px;
  height: 450px;
  align-items: center;
}

.text-center {
  text-align: center;
}

.character-image {
  border-radius: 50%;
  padding: 20px;
}

.content-card {
  width: 80%;
  flex-grow: 1;
  align-items: center;
}

.actions-container {
  width: 100%;
  align-self: end;
  align-items: center;
  justify-content: space-evenly;
}
