.character-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

.text-center {
  text-align: center;
}

.header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-card {
  font-weight: bold;
  text-align: center;
  color: var(--mdc-text-button-label-text-color, var(--mat-app-primary));
}

.character-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  margin-top: 15px;
}

.content-card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.content-card p {
  width: 100%;
  margin: 5px 0;
  text-align: left;
}

.actions-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.status-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
